



.slider-container{

    width: 36vw;
    height: 54vw;
    overflow: hidden;
    margin: 0rem;  
    float: left;
    transition: all 0.8s ease-in-out;
 
}
.slider-container:hover{
    cursor: pointer;
}




.slider{
   width: 100%;
   height: auto;
   display: flex; 

   
}


.slide{
    height: 100%;
    width: 100%;
    
   
}

img{

   
    width: 37vw;
    height: auto;
   
}
/* @media (min-width: 1440px) { */
    











 .down{
   
    opacity: 1;
    transition: all 0.5s ease-in-out; /* Apply smooth transition to opacity */

 }

/* } */


#main-container-one, #main-container-two, #main-container-three, #main-container-four{

    margin-top: 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   
    filter: brightness(0.3) grayscale(100%);
    z-index: -10;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -19;
       
}



footer{
    color: rgb(255, 255, 255);
    opacity: 0.6;
}
.icon{
    
    color: #ffffff;
}



a.icon{
display: block;
padding: 1em;
color: aliceblue !important;
}
    
.top{
  
    top: 0;
    display: flex;
    flex-direction: column;
    position: fixed;
 }
      



/* @media (max-width: 800px){
    

   
   
    
 .top{
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
 }
       

    

    } */



.title{
    flex-shrink: 1;
    display: grid;
    grid-template-columns: 30rem 10rem;
    position: relative;
 width: 40vw;
 flex-shrink: 4;
justify-content: center;
align-items: center;
margin: 0 auto;
top: 10%;
left: 0;
right: 0;
transform: translateY(10%);
z-index: 10;
    color: #ffffffc5;
    font-family: 'Public Sans', sans-serif;
column-gap: 6vw;
gap: 5vw;
 padding: 1rem;
align-items: last baseline;
  transition: transform 0.3s ease-in-out;
  

}


.title p{
    font-size: clamp(0.6rem, 9vw - 1rem, 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
text-align: right;
    color: #ffffff69;
  padding-bottom: 2rem;
line-height: 1.6rem;
margin: 0;
   
}

.title h2{
    font-size: clamp(2.5rem, 5vw - 1rem, 4rem);
    display: flex;
    justify-content: center;
    align-items: center;
   margin: 0;
grid-column: 1/ 1 span;
text-align: right;
justify-content: flex-end;
   opacity: 0.9;
  
}

.title p{
    font-size: clamp(0.8rem, 5vw - 1rem, 1rem);
grid-auto-rows: min-content;
  text-align: right;
  line-height: 1.4rem;
    transition: all 0.5s ease-in-out; /* Apply smooth transition to opacity */
  
}
.title h4{
    font-size: clamp(0.8rem, 10vw - 1rem, 1rem);
    line-height: 1.4rem;
    opacity: 0.4;
    margin: 0;
}
  

@media (max-width: 750px){

    .title h2{
     
        display: flex;
        justify-content: center;
        align-items: left;
       margin: 0;
    grid-column: 1/2 span;
    grid-row: 2/2 span;
    text-align: left;
    justify-content: flex-end;
       opacity: 0.9;
      
    }


    .title{
        flex-shrink: 2;
        display: grid;
        grid-template-columns: auto auto;
        position: relative;
     text-align: left;

    z-index: 10;
        color: #ffffffc5;
        font-family: 'Public Sans', sans-serif;
    column-gap: 6vw;
    gap: 5vw;
     padding: 1rem;
    align-items: last baseline;
      
    }


    .title p{
        text-align: justify;
        align-items: left;
        grid-column: 2 span;
    }

.title h4{
    grid-column: 2/1 span;

  text-align: right;
}

}

